$white: #ffffff;
$black: #222222;
$red: #e61610;

$bgColor: #2c3d39;

$leftPanelColor: #627b7a;

//button 1
$buttonTextColor1: $white;
$buttonBgColor1: #418af2;
$buttonBorderColor1: #346ec2;

$buttonTextColorHover1: $white;
$buttonBgColorHover1: #2c70d1;
$buttonBorderColorHover1: #346ec2;

$buttonTextColorActive1: rgba($white, 0.5);
$buttonBgColorActive1: #2c70d1;
$buttonBorderColorActive1: #346ec2;

$buttonOpacityDisabled1: 0.4;

//button 2
$buttonTextColor2: $red;
$buttonBgColor2: $white;
$buttonBorderColor2: #cccccc;

$buttonTextColorHover2: $red;
$buttonBgColorHover2: $white;
$buttonBorderColorHover2: #a6a6a6;

$buttonTextColorActive2: rgba($red, 0.3);
$buttonBgColorActive2: #f2f2f2;
$buttonBorderColorActive2: #c2c2c2;

$buttonOpacityDisabled2: 0.6;

//toggle
$toggleLabelColor: $black;
$toggleBgColor: #e6e6e6;

$toggleLabelColorActive: #699707;
$toggleBgColorActive: #7ab10e;

//input
$inputTextColor: $black;
$inputPlaceholderTextColor: #ccc;
$inputBorderColor: #ccc;
