<template>
  <main class="main">
    <TheConfig />
  </main>
</template>

<script setup lang="ts">
import TheConfig from '@/components/TheConfig.vue'
</script>

<style lang="scss" scoped>
.main {
  width: 100%;
  background: $white;
}
</style>
