<template>
  <main class="main">
    <TheMain />
  </main>
</template>

<script setup lang="ts">
import TheMain from '@/components/TheMain.vue'
</script>

<style lang="scss" scoped>
.main {
  width: 100%;
  background: $bgColor;
}
</style>
