<template>
  <div class="designs-item">
    <img class="designs-item__image" :src="data.images[0].src" :alt="data.name" />
    <div class="designs-item__footer">
      <div class="designs-item__number">{{ data.id }}</div>
      <div class="designs-item__name">{{ data.name }}</div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { IDesignsItem } from '@/types/designs'

defineProps<{
  data: IDesignsItem
}>()
</script>

<style lang="scss" scoped>
.designs-item {
  cursor: pointer;
  &__image {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
  &__footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    line-height: 18px;
    color: #000;

    padding: 0 5px;
    background: $white;
    border-radius: 8px;
  }
  &__name {
    margin-left: 8px;
    color: $white;
    font-weight: 400;
    line-height: 18px;
  }
}

@media (max-width: 450px) {
  .designs-item {
    &__image {
      width: 100%;
      height: auto;
    }
  }
}
</style>
