<template>
  <div class="designs-list">
    <DesignItem
      v-for="item in getSortedDesigns"
      :key="item.id"
      :data="item"
      @click="openDesign(item.id)"
    />
  </div>
</template>

<script setup lang="ts">
import { storeToRefs } from 'pinia'
import DesignItem from '@/components/DesignsItem.vue'
import { useDesignsStore } from '@/stores/designs'
import { useRouter } from 'vue-router'

const { activeId, getSortedDesigns } = storeToRefs(useDesignsStore())

const router = useRouter()

const openDesign = (id: number) => {
  activeId.value = id
  router.push('/config')
}
</script>

<style lang="scss" scoped>
.designs-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
</style>
