<template>
  <div class="left-panel">
    <div class="left-panel__icon">
      <IconSubtract />
    </div>
  </div>
</template>

<script setup lang="ts">
import IconSubtract from '@/components/icons/IconSubtract.vue'
</script>

<style lang="scss" scoped>
.left-panel {
  padding: 8px;
  background: $leftPanelColor;
  width: 40px;
}
</style>
