<template>
  <div class="the-config">
    <div class="the-config__back">
      <RouterLink to="/">
        <IconArrow />
      </RouterLink>
    </div>
    <div class="the-config__center">
      <TheToggle :label="isPublishedText" v-model="isPublished" />
      <div class="the-config__form">
        <TheDropzone
          class="the-config__dropzone"
          :files="files"
          :accepted-extensions="acceptedExtensions"
          @on-drop="saveFiles"
          @on-remove="removeFile"
          @on-sort="sortFiles"
        />
        <div class="the-config__inputs inputs">
          <div class="the-config__inputs-row inputs__row">
            <TheInput
              v-model="id"
              placeholder="###"
              class="the-config__input the-config__input--id"
              maxlength="3"
              only-int
              @update:model-value="updateUrl"
            />
            <TheInput v-model="name" placeholder="Назва дизайну" />
          </div>
          <div class="the-config__inputs-row inputs__row">
            <TheInput v-model="url" placeholder="https://design###.horoshop.ua/" disabled />
          </div>
        </div>
        <p v-if="isInvalidExtension" class="the-config__error">
          Помилка, дозволені типи:
          <span v-for="(type, i) in acceptedExtensions" :key="i"
            >{{ type }}<template v-if="i + 1 !== acceptedExtensions.length">,&nbsp; </template>
          </span>
        </p>
        <p v-if="isInvalidId" class="the-config__error">Помилка, цей Id вже зайнятий</p>
      </div>
    </div>
    <div class="the-config__actions">
      <TheButton v-if="activeId" class="the-button--type-2" label="Видалити" @click="remove" />
      <TheButton label="Зберегти і вийти" :disabled="!isAvailableButton" @click="save" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onUnmounted, ref, watchEffect } from 'vue'
import { storeToRefs } from 'pinia'

import type { IFile } from '@/types/file'
import type { IDesignsItem } from '@/types/designs'
import { useDesignsStore } from '@/stores/designs'
import TheToggle from '@/components/UI/TheToggle.vue'
import TheDropzone from '@/components/UI/TheDropzone.vue'
import TheInput from '@/components/UI/TheInput.vue'
import TheButton from '@/components/UI/TheButton.vue'
import IconArrow from '@/components/icons/IconArrow.vue'
import { useRouter } from 'vue-router'

//published toggle
const isPublished = ref<boolean>(false)

const isPublishedText = computed<string>(() => {
  return isPublished.value ? 'Опублікований' : 'Неопублікований'
})

//dropzone
const files = ref<IFile[]>([])
const acceptedExtensions = ['jpeg', 'jpg', 'png']

const isInvalidExtension = computed<boolean>(() => {
  return !!files.value.filter((file: IFile) => file.invalidExtension).length
})

const saveFiles = (payload: IFile[]) => {
  files.value = [...files.value, ...payload]
}
const removeFile = (id: string) => {
  const index = files.value.findIndex((file) => file.id === id)
  if (index + 1) {
    files.value.splice(index, 1)
  }
}
const sortFiles = (payload: IFile[]) => {
  files.value = [...payload]
}

//form
const id = ref<number | null>(null)
const name = ref<string>('')
const url = ref<string>('')

const { designsList, activeId } = storeToRefs(useDesignsStore())
const { addDesign, editDesign, delDesign } = useDesignsStore()
const router = useRouter()

watchEffect(() => {
  if (activeId.value) {
    const design = designsList.value.find((item) => activeId.value === item.id)
    if (design) {
      id.value = design.id
      name.value = design.name
      url.value = `https://design${design.id}.horoshop.ua/`
      isPublished.value = design.isPublished
      files.value = [...design.images]
    }
  }
})

const isAvailableButton = computed<boolean>(() => {
  return (
    !isInvalidExtension.value &&
    !isInvalidId.value &&
    !!files.value.length &&
    !!id.value &&
    !!name.value
  )
})

const isInvalidId = computed<boolean>(() => {
  return (
    !!designsList.value.filter((design: IDesignsItem) => design.id === id.value).length &&
    id.value !== activeId.value
  )
})

const updateUrl = (id: number | string | null) => {
  url.value = id ? `https://design${id}.horoshop.ua/` : ''
}

const save = () => {
  if (!isAvailableButton.value) return

  if (id.value) {
    const data = {
      id: id.value,
      name: name.value,
      isPublished: isPublished.value,
      images: files.value.map((file: IFile) => {
        return {
          id: file.id,
          src: file.src
        }
      })
    }

    if (activeId.value) {
      editDesign(data)
    } else {
      addDesign(data)
    }
    router.push('/')
  }
}

const remove = () => {
  delDesign()
  router.push('/')
}

onUnmounted(() => {
  activeId.value = null
})
</script>

<style lang="scss" scoped>
.the-config {
  padding: 24px 32px;
  display: flex;
  align-items: flex-start;
  &__center {
    margin-left: 64px;
  }
  &__dropzone {
    margin-top: 40px;
    width: 100%;
    min-height: 120px;
  }
  &__actions {
    display: flex;
    margin-left: auto;
    gap: 8px;
  }
  &__form {
    width: 600px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 24px;
    &-row {
      display: flex;
      gap: 8px;
    }
  }

  &__input {
    &--id {
      max-width: 80px;
    }
  }

  &__error {
    margin-top: 10px;
    font-size: 14px;
    color: $red;
  }
}

@media (max-width: 1024px) {
  .the-config {
    flex-direction: column;
    &__actions {
      margin-top: 20px;
      margin-left: 0;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .the-config {
    &__center {
      margin-top: 20px;
      margin-left: 0;
    }
    &__form {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .the-config {
    padding: 12px 16px;
  }
}
</style>
