<template>
  <div class="the-main">
    <div class="the-main__header">
      <h1 class="the-main__title">Всі дизайни</h1>
      <RouterLink class="the-main__link" to="/config">
        <TheButton label="Додати дизайн" />
      </RouterLink>
    </div>
    <DesignsList />
  </div>
</template>

<script setup lang="ts">
import DesignsList from '@/components/DesignsList.vue'
import TheButton from '@/components/UI/TheButton.vue'
</script>

<style lang="scss" scoped>
.the-main {
  padding: 24px 32px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: $white;
    font-size: 24px;
    line-height: 40px;
  }
  &__link {
    display: flex;
  }
}

@media (max-width: 450px) {
  .the-main {
    padding: 12px 16px;
    &__title {
      font-size: 20px;
    }
  }
}
</style>
