<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="48" viewBox="0 0 60 48" fill="none">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M50.4 2H9.6C7.88684 2 6.72225 2.00156 5.82208 2.0751C4.94524 2.14674 4.49684 2.27659 4.18404 2.43597C3.43139 2.81947 2.81947 3.43139 2.43597 4.18404C2.27659 4.49684 2.14674 4.94524 2.0751 5.82208C2.00156 6.72225 2 7.88684 2 9.6V38.4C2 40.1132 2.00156 41.2777 2.0751 42.1779C2.14674 43.0548 2.27659 43.5032 2.43597 43.816C2.81947 44.5686 3.43139 45.1805 4.18404 45.564C4.49684 45.7234 4.94524 45.8533 5.82207 45.9249C6.72225 45.9984 7.88684 46 9.6 46H50.4C52.1132 46 53.2777 45.9984 54.1779 45.9249C55.0548 45.8533 55.5032 45.7234 55.816 45.564C56.5686 45.1805 57.1805 44.5686 57.564 43.816C57.7234 43.5032 57.8533 43.0548 57.9249 42.1779C57.9984 41.2777 58 40.1132 58 38.4V9.6C58 7.88684 57.9984 6.72225 57.9249 5.82208C57.8533 4.94524 57.7234 4.49684 57.564 4.18404C57.1805 3.43139 56.5686 2.81947 55.816 2.43597C55.5032 2.27659 55.0548 2.14674 54.1779 2.0751C53.2777 2.00156 52.1132 2 50.4 2ZM0.653961 3.27606C0 4.55953 0 6.23968 0 9.6V38.4C0 41.7603 0 43.4405 0.653961 44.7239C1.2292 45.8529 2.14708 46.7708 3.27606 47.346C4.55953 48 6.23968 48 9.6 48H50.4C53.7603 48 55.4405 48 56.7239 47.346C57.8529 46.7708 58.7708 45.8529 59.346 44.7239C60 43.4405 60 41.7603 60 38.4V9.6C60 6.23969 60 4.55953 59.346 3.27606C58.7708 2.14708 57.8529 1.2292 56.7239 0.653961C55.4405 0 53.7603 0 50.4 0H9.6C6.23969 0 4.55953 0 3.27606 0.653961C2.14708 1.2292 1.2292 2.14708 0.653961 3.27606ZM22.7778 36.1152C25.5197 39.4207 28.1198 42 31.668 42C32.22 42 32.668 42.448 32.668 43C32.668 43.552 32.22 44 31.668 44C26.556 44 23.2706 39.9272 19.7921 35.6151L19.788 35.61C15.978 30.884 12.038 26 5.33203 26C4.78003 26 4.33203 25.552 4.33203 25C4.33203 24.448 4.78003 24 5.33203 24C12.8903 24 17.309 29.3513 21.1838 34.1548L21.1994 34.1543C21.2045 34.1542 21.2096 34.1541 21.2147 34.154C21.2178 34.154 21.221 34.154 21.2241 34.154C31.3181 34.154 35.4101 29.106 39.3641 24.224C42.9661 19.778 46.6921 15.182 54.6481 15.01C55.2061 14.99 55.6581 15.438 55.6701 15.988C55.6821 16.54 55.2441 16.998 54.6921 17.01C47.6641 17.16 44.5381 21.018 40.9201 25.484L40.9191 25.4853C37.0626 30.2439 32.7149 35.6089 22.7778 36.1152ZM18 16C18 19.308 20.692 22 24 22C27.308 22 30 19.308 30 16C30 12.692 27.308 10 24 10C20.692 10 18 12.692 18 16ZM20 16C20 13.794 21.794 12 24 12C26.206 12 28 13.794 28 16C28 18.206 26.206 20 24 20C21.794 20 20 18.206 20 16Z"
      fill="black"
      fill-opacity="0.1"
    />
  </svg>
</template>
