<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <g id="ArrowDown">
      <path
        id="Union"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.36358 11.3636C4.01211 11.715 4.01211 12.2849 4.36358 12.6364L10.3636 18.6364L11.6364 17.3636L7.27277 13L20 13L20 11L7.27277 11L11.6364 6.63638L10.3636 5.36359L4.36358 11.3636Z"
        fill="#222222"
      />
    </g>
  </svg>
</template>
