<template>
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="_i Delete" opacity="0.8">
      <path
        id="_i Delete_2"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7 2.5C7 2.22386 7.22386 2 7.5 2H8.5C8.77614 2 9 2.22386 9 2.5V3H7V2.5ZM6 3V2.5C6 1.67157 6.67157 1 7.5 1H8.5C9.32843 1 10 1.67157 10 2.5V3H12H13H14V4H13V11.76C13 12.9179 13 13.4968 12.7675 13.9359C12.5799 14.2902 12.2902 14.5799 11.9359 14.7675C11.4968 15 10.9179 15 9.76 15H6.24C5.08213 15 4.5032 15 4.06414 14.7675C3.70983 14.5799 3.42007 14.2902 3.23247 13.9359C3 13.4968 3 12.9179 3 11.76V4H2V3H3H4H6ZM4 4H12V11.76C12 12.356 11.9992 12.7409 11.9745 13.0334C11.9508 13.3137 11.9108 13.417 11.8838 13.4679C11.79 13.6451 11.6451 13.79 11.4679 13.8838C11.417 13.9108 11.3137 13.9508 11.0334 13.9745C10.7409 13.9992 10.356 14 9.76 14H6.24C5.644 14 5.25915 13.9992 4.9666 13.9745C4.68633 13.9508 4.58304 13.9108 4.53207 13.8838C4.35491 13.79 4.21003 13.6451 4.11623 13.4679C4.08925 13.417 4.04917 13.3137 4.02552 13.0334C4.00083 12.7409 4 12.356 4 11.76V4ZM7 12L7 5.99999H6V12H7ZM10 5.99999L10 12H9V5.99999H10Z"
        fill="white"
      />
    </g>
  </svg>
</template>
