<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <g clip-path="url(#clip0_5005_826)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 0H0V24H12C13.858 24 14.787 24 15.5643 23.8769C19.8433 23.1992 23.1992 19.8433 23.8769 15.5643C24 14.787 24 13.858 24 12C24 10.142 24 9.21298 23.8769 8.43566C23.1992 4.15673 19.8433 0.800832 15.5643 0.123117C14.787 0 13.858 0 12 0ZM11.5 19.088C9.052 19.088 8 17.5 8 15V5H12V8H14.984L15 11H12V14.168C12 14.816 12.216 15.368 12.696 15.368C13.3125 15.368 13.6025 15.1206 13.8916 14.874C13.9626 14.8134 14.0336 14.7528 14.1094 14.696L15.5 17C15 18 13.14 19.088 11.5 19.088Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_5005_826">
        <rect width="24" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
