<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15 0C14.4477 0 14 0.447716 14 1V14H1C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H14V29C14 29.5523 14.4477 30 15 30C15.5523 30 16 29.5523 16 29V16H29C29.5523 16 30 15.5523 30 15C30 14.4477 29.5523 14 29 14H16V1C16 0.447715 15.5523 0 15 0Z"
      fill="#C4C4C4"
    />
  </svg>
</template>
