<template>
  <LeftPanel />
  <RouterView />
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import LeftPanel from '@/components/LeftPanel.vue'
</script>

<style lang="scss">
#app {
  display: flex;
  min-height: 100vh;
}
</style>
