<template>
  <button class="the-button">
    {{ label }}
  </button>
</template>

<script setup lang="ts">
defineProps<{
  label: string
}>()
</script>

<style lang="scss" scoped>
.the-button {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  background-color: $buttonBgColor1;
  border: 1px solid $buttonBorderColor1;
  border-radius: 3px;

  color: $buttonTextColor1;
  text-align: center;
  font-size: 14px;
  line-height: 20px;

  transition: 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: $buttonTextColorHover1;
      background-color: $buttonBgColorHover1;
      border-color: $buttonBorderColorHover1;
    }
  }
  &:active {
    color: $buttonTextColorActive1;
    background-color: $buttonBgColorActive1;
    border-color: $buttonBorderColorActive1;
  }
  &:disabled {
    color: $buttonTextColor1;
    background-color: $buttonBgColor1;
    opacity: $buttonOpacityDisabled1;
    border-color: $buttonBorderColor1;
    cursor: not-allowed;
  }

  &--type-2 {
    color: $buttonTextColor2;
    background-color: $buttonBgColor2;
    border-color: $buttonBorderColor2;
    @media (hover: hover) {
      &:hover {
        color: $buttonTextColorHover2;
        background-color: $buttonBgColorHover2;
        border-color: $buttonBorderColorHover2;
      }
    }
    &:active {
      color: $buttonTextColorActive2;
      background-color: $buttonBgColorActive2;
      border-color: $buttonBorderColorActive2;
    }
    &:disabled {
      color: $buttonTextColor2;
      background-color: $buttonBgColor2;
      border-color: $buttonBorderColor2;

      opacity: $buttonOpacityDisabled2;
    }
  }
}
</style>
