<template>
  <div class="dropzone">
    <div ref="dropzoneImages" class="dropzone__images">
      <div class="dropzone__item" v-for="file in files" :key="file.id">
        <div
          class="dropzone__container"
          :class="{ 'dropzone__container--error': file.invalidExtension }"
        >
          <img
            class="dropzone__container-image"
            :class="{ 'dropzone__container-image--error': file.invalidExtension }"
            :src="file.src"
            :data-id="file.id"
            alt=""
          />
          <button class="dropzone__delete" @click.stop="deleteFile(file.id)">
            <IconTrash />
          </button>
        </div>
      </div>
      <div
        v-bind="getRootProps()"
        class="dropzone__wrapper"
        :class="{ 'dropzone__wrapper--active': files.length }"
      >
        <div class="dropzone__download">
          <input v-bind="getInputProps()" />
          <div class="dropzone__center">
            <IconImage v-if="!files.length" />
            <IconPlus v-else />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import Sortable from 'sortablejs'
import { v4 as uuidv4 } from 'uuid'
import { onMounted, ref } from 'vue'
import { useDropzone } from 'vue3-dropzone'

import type { IFile } from '@/types/file'
import IconImage from '@/components/icons/IconImage.vue'
import IconPlus from '@/components/icons/IconPlus.vue'
import IconTrash from '@/components/icons/IconTrash.vue'

const props = defineProps<{
  files: IFile[]
  acceptedExtensions: string[]
}>()

const emit = defineEmits<{
  (e: 'onDrop', payload: IFile[]): void
  (e: 'onRemove', id: string): void
  (e: 'onSort', payload: IFile[]): void
}>()

const dropzoneImages = ref(null)

function onDrop(acceptFiles: File[]) {
  const files: IFile[] = []

  acceptFiles.forEach((file: File) => {
    const extension = file.name.split('.').pop()?.toLowerCase()

    const data: IFile = {
      id: uuidv4(),
      src: URL.createObjectURL(file)
    }

    if (extension && !props.acceptedExtensions.includes(extension)) {
      data.invalidExtension = true
    }

    files.push(data)
  })

  emit('onDrop', files)
}
function deleteFile(id: string) {
  emit('onRemove', id)
}
const { getRootProps, getInputProps } = useDropzone({ onDrop })

const initDraggable = () => {
  const dropzoneImagesValue = dropzoneImages.value as HTMLElement | null

  if (dropzoneImagesValue) {
    new Sortable(dropzoneImagesValue, {
      group: 'shared',
      animation: 150,
      onEnd: () => {
        const filteredArray: NodeListOf<HTMLElement> = dropzoneImagesValue.querySelectorAll(
          '.dropzone__container-image'
        )

        if (filteredArray.length) {
          const data = Array.from(filteredArray).map((item: HTMLElement) => ({
            id: item.dataset.id || '',
            src: item.getAttribute('src') || '',
            invalidExtension: item.classList.contains('dropzone__container-image--error')
          }))

          emit('onSort', data)
        }
      }
    })
  }
}

onMounted(() => {
  initDraggable()
})
</script>

<style lang="scss" scoped>
.dropzone {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__wrapper {
    position: relative;
    border: 1px dashed #a8afc0;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-height: 120px;

    &--active {
      cursor: pointer;
      min-width: 120px;
      width: 120px;
      height: 120px;
    }
  }
  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 8.125rem;

    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  &__images {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  &__delete {
    display: flex;
    position: absolute;
    bottom: 4px;
    right: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    background: #000;
    opacity: 0;
    z-index: 0;
  }
  &__container {
    position: relative;
    display: flex;
    transition: 0.3s ease;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: $white;
      opacity: 0;
      transition: 0.3s ease;
    }
    &-box {
      width: 100%;
      height: 100%;
      position: absolute;
      background: $white;
      opacity: 0;
      transition: 0.3s ease;
    }
    &-image {
      width: 120px;
      min-height: 120px;
      border-radius: 3px;
      border: 1px solid var(--10-grey, rgba(0, 0, 0, 0.1));
      height: auto;
      object-fit: cover;
      transition: 0.3s ease;

      &--error {
        border-color: $red;
      }
    }
    &--error {
      &:after {
        background-color: $red;
        opacity: 0.3;
      }
    }
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
        cursor: grab;
        &:after {
          opacity: 0.3;
        }
        .dropzone__delete {
          opacity: 0.5;
          z-index: 1;
        }
      }
    }
    @media (max-width: 768px) {
      .dropzone__delete {
        opacity: 0.5;
        z-index: 1;
      }
    }
  }
}

.sortable-chosen {
  .dropzone__container {
    cursor: grabbing;
  }
}
</style>
