<template>
  <input class="input" :value="modelValue" @input="checkValue" />
</template>

<script setup lang="ts">
const props = defineProps<{
  modelValue: string | number | null
  onlyInt?: boolean
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: string | number | null): void
}>()

const checkValue = (e: Event): void => {
  if (e?.target instanceof HTMLInputElement) {
    if (props.onlyInt) {
      e.target.value = e.target.value.replace(/[^\d]/g, '')
      emit(
        'update:modelValue',
        +(e.target as HTMLInputElement).value ? +(e.target as HTMLInputElement).value : null
      )
    } else {
      emit('update:modelValue', (e.target as HTMLInputElement).value)
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  padding: 6px 11px;
  border: 1px solid $inputBorderColor;
  border-radius: 3px;

  color: $inputTextColor;
  font-size: 14px;
  line-height: 20px;
  &::placeholder {
    color: $inputPlaceholderTextColor;
  }
}
</style>
