<template>
  <label class="toggle">
    <div class="toggle__label">
      <input v-model="value" class="toggle__input" type="checkbox" />
      <div class="toggle__slider"></div>
    </div>
    <p v-if="props.label" class="toggle__text" :class="{ 'toggle__text--active': value }">
      {{ props.label }}
    </p>
  </label>
</template>

<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  modelValue: boolean
  label?: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: boolean): void
}>()

const value = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<style lang="scss" scoped>
.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  &__label {
    width: 64px;
    height: 24px;
    position: relative;
  }
  &__input {
    display: none;
    &:focus + .toggle__slider {
      box-shadow: 0 0 1px #dcdcdc80;
    }
    &:checked + .toggle__slider {
      background-color: $toggleBgColorActive;
      &:before {
        transform: translateX(40px);
      }
    }
  }
  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $toggleBgColor;
    border-radius: 34px;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-color: $white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
  &__text {
    user-select: none;
    margin-left: 8px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &--active {
      color: $toggleLabelColorActive;
    }
  }
}
</style>
